---
title: Julie et François / Ile d'Yeu 2018
---

<div class="tabs-2">
  <div class="tab-2 active" data-target=".vendredi-tab">
    <h3>Vendredi</h3>
  </div>
  <div class="tab-2" data-target=".samedi-tab">
    <h3>Samedi</h3>
  </div>
  <div class="tab-2" data-target=".dimanche-tab">
    <h3>Dimanche</h3>
  </div>
</div>

<div class="tabs2-target">
  <div class="tab-content vendredi-tab">
    <h3>Apéro dinatoire Petit Bouchon</h3>
    <p>Pour ceux qui arrivent le vendredi sur l’île, nous vous attendrons à partir de 19h30 au Bouchon, un bar à vins situé à Port-Joinville.</p>
    <p>Tous les amateurs de fruits de mer, charcuterie, fromage et bons vins seront les bienvenus dans un cadre qui sent bon les vacances, très facile d'accès, proche de tout, et possibilité ensuite, pour ceux qui n'ont pas peur d'attaquer tôt ce week-end festif, de prendre un dernier verre, après le dîner, dans un des nombreux bars qui bordent le port (nous, on ira se coucher !!)</p>
    <div><%= link_to "Addresse", "https://www.google.nl/maps/place/La+Reserve+du+Bouchon/@46.7267404,-2.3502221,15z/data=!4m2!3m1!1s0x0:0x2e64e9c2f16a06fb?sa=X&ved=0ahUKEwjEzuvciLTVAhWFblAKHfnmAIMQ_BIIgwEwCg", target: :blank, class: "lien" %></div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/bouchon2.jpg');">
          <div class="card-category"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('images/bouchon3.jpg');">
          <div class="card-category"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content samedi-tab hidden">
    <p>16:00/16:30 : Messe Notre Dame du Port (1h30 max)
      La célébration du mariage se déroulera en l’Eglise de Notre Dame du Port à 16h30.
      L’Eglise est située  à Port Joinville, 3 Place Général Buat (à 400 mètres de l’embarcadère)</p>
  </div>
  <div class="tab-content dimanche-tab hidden">

  </div>
</div>
