---
title: Julie et François / Ile d'Yeu 2018
---

<div class="tabs-2">
  <div class="tab-2 active" data-target=".velos-tab">
    <h3>Locations Vélos/Voitures</h3>
  </div>
  <div class="tab-2" data-target=".fleuriste-tab">
    <h3>Fleuriste</h3>
  </div>
  <div class="tab-2" data-target=".navette-tab">
    <h3>Navette</h3>
  </div>
  <div class="tab-2" data-target=".contacts-tab">
    <h3>Contacts</h3>
  </div>
</div>

<div class="tabs2-target">
  <div class="tab-content velos-tab">
    <h3>Le vélo est le meilleur moyen de se déplacer sur l'île. Il existe de nombreux loueurs :</h3>
    <ul>
      <li>• Véloya ( 02 51 58 56 86 )</li>
      <li>• Trottinette ( 02 51 58 31 06 )</li>
      <li>• Vélo Promn'ade ( 02 51 58 43 22 )</li>
      <li>• La Clinique du Vélo (02 51 58 73 67)</li>
      <li>• Bi-Clown ( 02 51 58 70 77 )</li>
      <li>• La Roue Libre ( 02 51 59 20 70 )</li>
    </ul>
    <h3>Pour ceux qui préfèrent la voiture, vous pourrez aussi en trouver. Par contre, il est nécessaire de réserver à l'avance :</h3>
    <ul>
      <li>• Voiture Cantin (02 51 58 48 00)</li>
      <li>• Auto-Bécane ( 02 51 58 70 42 )</li>
      <li>• Autos Cantin ( 02 51 58 33 80 )</li>
      <li>• Garage Insulaire ( 02 51 58 52 62 )</li>
      <li>• Garage Charuau ( 02 51 58 72 41)</li>
    </ul>
  </div>
  <div class="tab-content fleuriste-tab hidden">

  </div>

  <div class="tab-content navette-tab hidden">
    <ul>
      <li>Taxi Joinville : 06.07.68.53.96</li>
      <li>Taxi Islais : 06.11.28.54.07</li>
    </ul>
  </div>

  <div class="tab-content contacts-tab hidden">
    <ul>
      <li>Valentine Fradet : 06.70.67.18.07</li>
      <li>Ludivine : 06.60.34.36.46 / 06.79.98.33.48</li>
      <li>Cédric : 06.60.70.36.95 </li>
      <li>Les Bafouettes : 02.51.59.38.38</li>
    </ul>
  </div>
</div>
