---
title: Julie et François / Ile d'Yeu 2018
---

<div class="tabs-2">
  <div class="tab-2 active" data-target=".fromentine-tab">
    <h3>Se rendre à Fromentine</h3>
  </div>
  <div class="tab-2" data-target=".traverseeyeu-tab">
    <h3>Traversée vers l'ile d'YEU</h3>
  </div>
</div>

<div class="tabs-target">

  <div class="tab-content fromentine-tab">
    <h3>Première étape, rejoindre le port d'embarquement : Fromentine - La Barre de Monts</h3>
    <h3>En Voiture jusqu'à Fromentine</h3>
      <ul>
        <li>- de Paris : 450 km, un peu moins de 5 heures</li>
        <li>- de Poitiers : 240 km, 2h40</li>
        <li>- Nantes - Fromentine : 66 km</li>
      </ul>
      <p>Comptez 1/2 h de battement pour embarquer sereinement.</p>
    <h3>Train jusqu'à Nantes</h3>
      <ul>
        <li>1. Paris - Nantes, compter 2h10 de trajet. Trains fréquents</li>
        <li>2. Puis Nantes – Fromentine en Bus : au départ de la gare SNCF – sortie Sud, (sortez à gauche, plusieurs cars "pays de la Loire" sont garés de l'autre coté du parking en face)</li>
        <li>TAPER SUR VOYAGESSNCF.COM : DÉPART/ARIVÉE : FROMENTINE LA BARRE DE MONT</li>
      </ul>
    <h3>Avion jusqu'à Nantes</h3>
      <p>Nantes est un aéroport international</p>
      <p>Vous pouvez rejoindre l'île d'YEU depuis cet aéroport via des petits avions. Il faut vous organiser avec l'aérodrome de l'île. 02.51.58.38.22</p>
      <%= link_to 'Site', "http://www.ile-yeu/Acces/Aerodrome" %>
    <h3>Taxi Nantes-Fromentine</h3>
      <p>Taxis Montois, réservez au 02.51.68.52.83</p>
      <p>tarifs par voiture: (6 et 7 places dans les monospaces)</p>
      <ul>
        <li>9h à 19h : 90 €</li>
        <li>Dimanche et après 19h : 120 €</li>
        <li>De l'aéroport: 80€ et 110€</li>
      </ul>
      <p>Worth it donc, surtout s'il n'y a plus de car vers Fromentine. Comptez 1h30 entre l'arrivée en gare de Nantes et l'embarquement sur les bateaux pour être large</p>
  </div>

  <div class="tab-content traverseeyeu-tab hidden">

  </div>

</div>


